coverage==6.4.1
ibm-cos-sdk==2.12.0
ibm-cos-sdk-core==2.12.0
ibm-cos-sdk-s3transfer==2.12.0
pandas>=1.4.0
pymongo==4.8.0
psycopg2==2.9.3
mongomock==4.1.2
sqlalchemy==1.4.40
alchemy-mock==0.4.3
numpy==1.23.4
cryptography==43.0.1
